---
version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: cron
      cronjob: '0 0 1,15 * *' # 1st and 15th monthly at midnight UTC
    groups:
      actions:
        patterns: ['*']
