name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          check-latest: true
          cache: "pip"
      - name: Install pre-commit
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install --upgrade pre-commit
      - name: Set cache date
        run: |
          echo "DATE=$(date +'%Y%m%d')" >> "$GITHUB_ENV"
      - name: Cache pre-commit hooks
        id: cache-pre-commit-hooks
        uses: actions/cache@v5
        env:
          CACHE_NUMBER: 0
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-precommit-${{ hashFiles('.pre-commit-config.yaml') }}-${{ env.DATE }}-${{ env.CACHE_NUMBER }} # yamllint disable-line rule:line-length
      - name: Install pre-commit hooks
        if: steps.cache-pre-commit-hooks.outputs.cache-hit != 'true'
        run: |
          pre-commit install
      - name: Run pre-commit hooks
        run: |
          pre-commit run --all-files

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Git
        run: |
          git config --global user.name "Test User"
          git config --global user.email "test@example.com"
      - name: Run test suite
        run: |
          bash tests/test-runner.sh
