---
name: lint GitHub Actions workflows
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    paths: [".github/workflows/*.ya?ml"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            workflows:
              - .github/workflows/*.ya?ml
            addedOrModified:
              - added|modified: '**'
      - uses: actions/checkout@v6
        if: steps.filter.outputs.workflows == 'true'
      - name: Check workflow files
        if: steps.filter.outputs.workflows == 'true'
        uses: docker://rhysd/actionlint:latest
        with:
          args: -color
